<html>
  <head> 
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='style.css' rel="stylesheet">
    <meta charset="utf-8">
    <title>My exploration guide</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <DIV id="banner">
    <h1>Food, Inspi & Places </h1>
    <p>The exploration guide everyone needs to read</p>
    <p>
      <a href="#">Discover now</a>
    </p>
    </DIV>

    <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <DIV class="card">
    <img src="images/burger.png" alt="picture description">

    <h2>Tasty</h2>
    <p>Worldwide <strong>Food</strong></p>
</DIV>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <DIV class="card">
    <img src="images/plamier.png" alt="picture description">
    <h2>Different</h2>
    <p>Inspiring <strong>spots</strong></p>
</DIV>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <DIV class="card">
    <img src="images/sunglass.png" alt="picture description">
    <h2>Unique</h2>
    <p>Amazing <strong>experiences</strong></p>
</DIV>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
     <DIV class="card">
    <img src="images/coeur.png" alt="picture description">
    <h2>Beautiful</h2>
    <p>Life <strong>moment</strong></p>
</DIV>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <img src="images/simpson.gif" class="img-responsive" alt="Responsive image">
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-wufoo">
      <div id="wufoo-mexynyc0zs8lzp">
Fill out my <a href="https://craph.wufoo.com/forms/mexynyc0zs8lzp">online form</a>.
</div>
<script type="text/javascript">var mexynyc0zs8lzp;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'craph',
'formHash':'mexynyc0zs8lzp',
'autoResize':true,
'height':'380',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { mexynyc0zs8lzp = new WufooForm();mexynyc0zs8lzp.initialize(options);mexynyc0zs8lzp.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

  </div>
</div> </div>



<DIV id="footer"> 
    <p>This is a playground landing ©Craph</p>
    <ul class="list-inline">
  <li><a href="#"><i class="fa fa-youtube"></i></a></li>&nbsp
  <li><a href="#"><i class="fa fa-facebook"></i></a></li>&nbsp
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>&nbsp
  <li><a href="#"><i class="fa fa-github"></i></a></li>&nbsp
</ul>
</DIV>

  </body>
</html>